html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .div-externo {
    background-color: black;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-medio {
    background-color: red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-interno {
    background-color: green;
    width: 100px;
    height: 100px;
  }